<div class="content">
  <small>
    Make group activities:
    <form action="" method="get">
        <input type="radio" name="Private" value="Private"> Private<br>
        <input type="radio" name="Private" value="Public"> Public<br>
        <input type="submit" value="Search">
    </form>
    <br />
    Make group edits:
    <form action="" method="get">
        <input type="radio" name="Editable" value="Private"> Private<br>
        <input type="radio" name="Editable" value="Public"> Public<br>
        <input type="submit" value="Search">
    </form>
  </small>
</div>




<a class="collapsible">Change Privleges</a>
<div class="content">
  <small>
    <a href=""> Admin </a> /
    <a href=""> Moderator </a> /
    <a href=""> Member </a> /
    <a href=""> Remove</a>
   </small>
</div>
